# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Project
downloads/
history.json
cookies.txt
export_cookies.py

# User commands
commands.txt

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
